---
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Morning Star Delivery | Houston Delivery Service | Roy Washington
    </title>
    <meta
      name="description"
      content="Morning Star Delivery, Houston's trusted delivery service by CEO Roy Washington. 15+ years experience. Call us today!"
    />
  </head>
  <body
    class="relative min-h-screen bg-gradient-to-r from-blue-100 to-blue-200 bg-cover bg-center backdrop-blur-md"
    style="background-image: url('public/bg-5.jpg')"
  >
    <div class="absolute top-0 left-0 w-full h-full bg-sky-500/20"></div>
    <div class="absolute w-full h-full overflow-auto z-10">
      <nav
        class="flex items-center justify-between w-screen bg-white rounded-b-sm px-4 py-2 fixed top-0 z-10"
      >
        <div class="flex items-center">
          <a href="/" class="text-3xl text-sky-700 font-thin">
            Morning Star Delivery
          </a>
        </div>
        <div class="flex items-center gap-8"></div>
      </nav>
      <div class="mt-16 rounded-md grid grid-cols-1 sm:grid-cols-2 gap-4 mx-6">
        <div class="p-4 rounded-md bg-opacity-80">
          <img
            class="rounded-3xl h-auto shadow-md bg-gray-600/40 p-2"
            width="500"
            src="public/IMG_1474.jpg"
            alt="Roy Washington - CEO of Morning Star Delivery"
          />
          <h2 class="text-5xl mt-4 font-semibold mb-2">Roy Washington</h2>

          <div class="mt-4">
            <a
              href="https://www.linkedin.com/in/roy-washington-37820485"
              class="bg-sky-500/70 p-2 rounded-md hover:bg-sky-300/40 transition-colors duration-200"
            >
              <span class="text-lg font-semibold underline"
                >Connect on LinkedIn</span
              >
            </a>
          </div>
        </div>
        <div
          class="text-white bg-gray-600/40 p-4 text-xl md:text-4xl font-thin leading-relaxed rounded-md h-fit m-2"
        >
          <p class="mb-2">
            As the CEO and founder of Morning Star Delivery, a trusted delivery
            service in Houston, Texas, Roy brings over 15+ years of industry
            expertise to the table, always prioritizing customer satisfaction.
          </p>
          <br />
          <p class="mb-2">
            Besides his corporate commitments, Roy serves as the senior pastor
            of Jehovha Raphas’ House of Healing Church, offering spiritual
            guidance to the community.
          </p>
          <br />
          <p class="">
            Roy is also a proud holder of an associate degree in computer
            science from Lee College.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
