---
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="favicon/safari-pinned-tab.svg"
      color="#000000"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Morning Star Delivery | Medical, Hot-Shot, Legal Courier | Houston, Texas
    </title>
    <meta
      name="description"
      content="Reliable couriers for medical, hot-shot, and legal needs in Houston, Texas. HIPAA certified, professional and confidential. Contact Morning Star Delivery today!"
    />
  </head>
  <body
    class="relative min-h-screen bg-gradient-to-r from-blue-100 to-blue-200 bg-cover bg-center backdrop-blur-md"
    style="background-image: url('/images/bg-5.jpg');"
  >
    <div class="absolute top-0 left-0 w-full h-full bg-sky-600/20"></div>

    <div class="absolute w-full h-full overflow-auto z-10">
      <nav
        class="flex items-center justify-between w-screen bg-white rounded-b-sm px-4 py-2 fixed top-0 z-10"
      >
        <div class="flex items-center">
          <a
            href="/"
            class="text-sm sm:text-lg lg:text-3xl font-thin text-blue-600"
            >Morning Star Delivery</a
          >
        </div>
        <div class="flex items-center gap-2 sm:gap-4 lg:gap-8">
          <a
            href="/about"
            class="text-sm sm:text-base lg:text-xl font-semibold text-black hover:text-blue-600 transition-colors duration-200"
            >About</a
          >
        </div>
      </nav>
      <div class="mt-16 gap-6">
        <div
          class="text-black rounded-md p-8 m-8 w-full text-center font-extrabold mx-auto"
        >
          <span class="text-4xl md:text-7xl">Morning Star Delivery</span>
          <p class="mt-6 text-2xl md:text-3xl text-blue-600 font-thin">
            Couriers for Medical, Hot-Shot, and Legal Needs in Houston, Texas
          </p>
          <p class="text-2xl mt-4 text-blue-600 font-thin">
            Contact:
            <span> (832)-894-4733</span>
          </p>
        </div>
        <div
          class="bg-gray-600/50 text-white p-6 m-12 rounded-md text-center w-1/2 shadow-lg mx-auto"
        >
          <h2
            class="text-2xl sm:text-5xl lg:text-8xl font-bold text-blue-600 mb-6"
          >
            I-45 Special
          </h2>
          <p class="font-semibold text-xl mb-4 underline italic">
            Ship Your Packages from Houston to Dallas
          </p>
          <ul class="list-item list-inside mb-6 text-xl">
            <li class="mb-1">
              0 to 50lbs - <span class="font-bold text-blue-600"
                >$50 flat rate</span
              >
            </li>
            <li class="mb-1">
              51lbs to 100lbs - <span class="font-bold text-blue-600"
                >$75 flat rate</span
              >
            </li>
          </ul>
          <p class="font-semibold text-xl mb-4 underline italic">
            Door to Door Same Day Delivery!
          </p>
          <div class="text-sm sm:text-base lg:text-xl">
            <p class="mb-2 font-semibold">Monday - Friday</p>
            <p class="mb-2">
              Pickup between <span class="font-semibold">8am-5pm</span>
            </p>
            <p class="mb-2">
              Delivering between <span class="font-semibold"
                >9 P.M. - 12 P.M. Midnight</span
              >
            </p>
            <p class="mb-2 text-blue-600 font-semibold">
              Shipping from Houston and Surrounding area
            </p>
            <p class="text-blue-600 font-semibold">
              Delivering to Dallas and Surrounding Areas
            </p>
          </div>
        </div>
      </div>
      <div
        class="m-2 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 justify-center"
      >
        <div class="p-6 bg-gray-600/50 rounded-md m-4 shadow-lg text-white">
          <h2 class="text-xl sm:text-2xl lg:text-3xl font-bold text-blue-600">
            Medical Courier Service in Houston
          </h2>
          <h3
            class="text-sm sm:text-lg lg:text-xl mt-2 font-semibold text-blue-800"
          >
            Reliable Medical Deliveries, From Eyeglasses to Organs
          </h3>
          <p class="text-sm sm:text-base lg:text-xl mt-4">
            Our HIPAA Certified medical couriers in Houston provide custom
            routes to fit any budget, ensuring same-day pickup and delivery.
            Trust Morning Star Delivery for your healthcare logistics needs.
          </p>
        </div>
        <div class="p-6 bg-gray-600/50 rounded-md m-4 text-white shadow-lg">
          <h2 class="text-xl sm:text-2xl lg:text-3xl font-bold text-blue-600">
            Hot Shot Delivery Service in Houston
          </h2>
          <h3
            class="text-sm sm:text-lg lg:text-xl mt-2 text-blue-800 font-semibold"
          >
            Rapid Delivery, From 1 Hour to Overnight
          </h3>
          <p class="text-sm sm:text-base lg:text-xl mt-4">
            Operates in Houston, Beaumont, Clearlake, Galveston, Lake Jackson,
            Katy, Humble, Woodlands, Lufkin, Cleavland, Dallas, Fort Worth,
            Desoto, Plano, Garland, Richardson, Carrollton and beyond. Our quick
            pickups and prompt deliveries meet your most urgent needs.
          </p>
        </div>
        <div class="p-6 bg-gray-600/50 rounded-md m-4 text-white shadow-lg">
          <h2 class="text-xl sm:text-2xl lg:text-3xl font-bold text-blue-600">
            Legal Courier Service in Houston
          </h2>
          <h3
            class="text-sm sm:text-lg lg:text-xl mt-2 text-blue-800 font-semibold"
          >
            Secure Legal Document Delivery, From Legal Filings to Loan Documents
          </h3>
          <p class="text-sm sm:text-base lg:text-xl mt-4">
            Morning Star Delivery ensures your sensitive documents reach their
            destination on time. Trust our professional, confidential legal
            courier services for all your legal document transportation in
            Houston.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
